/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 16, 2017, 5:09:23 PM
    Author     : Gagandeep Kaur
*/

#search-container{
    margin-bottom:8px;
    margin-left:70%;
}
#contact-form
{
    height:500px;
    width:600px;
}
#result-container
{
    text-align: center;
    border-radius:5px;
    border: 1px solid grey;
    margin-left:30%;
    height: 300px;
    width:300px;
    background-color:white;
}