<p>This page demonstrates form Validations</p> 
<!-- create our form -->
    <form name="userForm" novalidate>
        
        <!-- name field -->
        <div class="form-group" ng-class="{ 'has-error': userForm.name.$touched && userForm.name.$invalid }">
            <label>Name</label>
            <input type="text" name="name" class="form-control" 
                ng-model="main.name"
                ng-minlength="5"
                ng-maxlength="10"
                required>
                
              <div class="help-block" ng-messages="userForm.name.$error" ng-show="userForm.name.$touched">
    <div ng-messages-include="partials/messages.html"></div>
</div>   
            <!-- ngMessages goes here -->
        </div>
        
        <!-- email field -->
       <div class="form-group" ng-class="{ 'has-error': userForm.email.$touched && userForm.email.$invalid }">    
            <label>Email</label>
            <input type="email" name="email" class="form-control" 
                ng-model="main.email"
                ng-minlength="5"
                ng-maxlength="20"
                required>
             <div class="help-block" ng-messages="userForm.email.$error" ng-show="userForm.email.$touched">
    <div ng-messages-include="partials/messages.html"></div>
</div>   
            <!-- ngMessages goes here -->
        </div>
        
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Submit</button>
        </div>
        
    </form>
    